
.card-items{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    margin-top: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.img{
    border-radius: 10px;
}

.img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h2{
    text-align: center;
}

button{
    border-radius: 5px;
    border: none;
    padding: 8px;
    background-color: rgb(97, 194, 97);
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition: .2s;
    cursor: pointer;
    margin-top: 5px;
}

button:hover{
    background-color: white;
    color: rgb(97, 194, 97);
}

.detail{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

p{
    font-weight: 600;
    color: #aaa;
    font-size: 18px;
}

.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.reset button {
    background-color: orangered;
    padding: 15px 30px;
    border: 2px solid orangered;
    font-size: 18px;
}

.reset button:hover{
    color: orangered;
    background-color: white;
    border: 2px solid orangered;
}